<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Input with placeholder -->
  <ion-card>
    <ion-card-header>
      <img src="assets/code.png" alt="code-logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>code.com</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-item>
      <ion-input placeholder="Username"></ion-input>
     </ion-item>
     <br>
     <ion-item>
      
      <ion-input placeholder="password" type="password"></ion-input>
     </ion-item>
     <br>
     <ion-button (click)="LogMeIn()" >login</ion-button>
    </ion-card-content>
  </ion-card></ion-content>
